<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>444507236833-lcv3kdiogbdmag0kjdvqoj3nhtfc9jug.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.444507236833-lcv3kdiogbdmag0kjdvqoj3nhtfc9jug</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>444507236833-ks9i85gtsprejcv6sl58angh4mcgtuu6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDkHDS1rNSgLAzB3WKBDyOlAU_AY4yODdQ</string>
	<key>GCM_SENDER_ID</key>
	<string>444507236833</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.smartTrashMobile</string>
	<key>PROJECT_ID</key>
	<string>belajar-4c0e4</string>
	<key>STORAGE_BUCKET</key>
	<string>belajar-4c0e4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:444507236833:ios:e22a2387762e33c41b8aa0</string>
</dict>
</plist>